@import '/src/shared/styles/normolize.scss';

.ErrorAlert {
    font-family: $fontDefault;
    padding: 10px;
    background-color: #F95959;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #fff;

    &__info {
        display: flex;
        align-items: center;

        p {
            margin-left: 10px;
            font-weight: 600;
        }
    }
}