@import '/src/shared/styles/normolize.scss';

.Button {
 cursor: pointer;
 font-size: 16px;
 border-radius: 10px;
 font-family: $fontDefault;
 color: #fff;
 border: none;
 box-shadow: 0 0 0 rgba(10, 50, 65, 0);
 padding: 10px 20px;
 margin: 0px 10px 0px 0px;
}


@media (max-width: $breakpoint__sm) {
 .Button {
  font-size: 14px;
 }
}

@media (max-width: $breakpoint__min) {
 .Button {
  width: 100%;
  margin: 10px 0px;
 }
}