@import '/src/shared/styles/normolize.scss';


.Catalog{
 margin: 20px 0px;
 &__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 &__title{
  font-family: $fontDefault;
 }
 &__cards{
  margin: 10px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
 }
}
@media (max-width: $breakpoint__sm) {
 .Catalog{
  &__header{
   display: block;
   width: 100%;
  }
  &__title{
   display: none;
  }
  &__cards{
   justify-content: center;
  }
 }
}

@media (max-width: $breakpoint__min) {

}