@import '/src/shared/styles/normolize.scss';


.Search {
 display: flex;
 align-items: center;
 position: relative;

 &__input {
  padding: 15px 50px 15px 15px;
  font-size: 15px;
  outline: none;
  border: 1px solid #b5b5b5;
  border-radius: 20px;
  width: 250px;
 }

 &__img {
  cursor: pointer;
  width: 25px;
  position: absolute;
  right: 10px;
 }
}

@media (max-width: $breakpoint__sm) {
 .Search {
  &__input { 
   width: 100%;
  }
 }
}