@import '/src/shared/styles/normolize.scss';

.Header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 30px;

 .Header__navbar {
  display: flex;
  align-items: center;

  li {
   list-style: none;
   font-family: $fontUnique;
   font-weight: 600;
   margin: 0px 20px;
   cursor: pointer;
   font-size: 18px;
  }
 }

 .Header__navlink {
  display: flex;
  align-items: center;

  li {
   list-style: none;

   img {
    width: 25px;
    cursor: pointer;
    margin-left: 20px;
   }
  }
 }
}